@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8o82mk');
  src:  url('fonts/icomoon.eot?8o82mk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8o82mk') format('truetype'),
    url('fonts/icomoon.woff?8o82mk') format('woff'),
    url('fonts/icomoon.svg?8o82mk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check2:before {
  content: "\e906";
}
.icon-exclamationmark:before {
  content: "\e9b3";
}
.icon-unie9b2:before {
  content: "\e9b2";
}
.icon-circleback:before {
  content: "\e9ae";
}
.icon-warning:before {
  content: "\e9af";
}
.icon-comfirm:before {
  content: "\e9b0";
}
.icon-time:before {
  content: "\e9b1";
}
.icon-unie9a9:before {
  content: "\e9a9";
}
.icon-unie9aa:before {
  content: "\e9aa";
}
.icon-unie9ab:before {
  content: "\e9ab";
}
.icon-unie9ac:before {
  content: "\e9ac";
}
.icon-unie9ad:before {
  content: "\e9ad";
}
.icon-unie9a7:before {
  content: "\e9a7";
}
.icon-unie9a8:before {
  content: "\e9a8";
}
.icon-unie9a6:before {
  content: "\e9a6";
}
.icon-unie9a5:before {
  content: "\e9a5";
}
.icon-unie9a1:before {
  content: "\e9a1";
}
.icon-unie9a2:before {
  content: "\e9a2";
}
.icon-unie9a3:before {
  content: "\e9a3";
}
.icon-unie9a4:before {
  content: "\e9a4";
}
.icon-unie9a0:before {
  content: "\e9a0";
}
.icon-shape-01:before {
  content: "\e98e";
}
.icon-shape-02:before {
  content: "\e98f";
}
.icon-shape-03:before {
  content: "\e990";
}
.icon-shape-04:before {
  content: "\e991";
}
.icon-shape-05:before {
  content: "\e992";
}
.icon-shape-06:before {
  content: "\e993";
}
.icon-shape-07:before {
  content: "\e994";
}
.icon-shape-08:before {
  content: "\e995";
}
.icon-shape-09:before {
  content: "\e996";
}
.icon-shape-10:before {
  content: "\e997";
}
.icon-shape-11:before {
  content: "\e998";
}
.icon-shape-12:before {
  content: "\e999";
}
.icon-shape-13:before {
  content: "\e99a";
}
.icon-shape-14:before {
  content: "\e99b";
}
.icon-shape-15:before {
  content: "\e99c";
}
.icon-shape-16:before {
  content: "\e99d";
}
.icon-shape-17:before {
  content: "\e99e";
}
.icon-shape-18:before {
  content: "\e99f";
}
.icon-unie98d:before {
  content: "\e98d";
}
.icon-unie98b:before {
  content: "\e98b";
}
.icon-unie98c:before {
  content: "\e98c";
}
.icon-unie983:before {
  content: "\e983";
}
.icon-unie984:before {
  content: "\e984";
}
.icon-unie985:before {
  content: "\e985";
}
.icon-unie986:before {
  content: "\e986";
}
.icon-unie987:before {
  content: "\e987";
}
.icon-unie988:before {
  content: "\e988";
}
.icon-unie989:before {
  content: "\e989";
}
.icon-unie98a:before {
  content: "\e98a";
}
.icon-unie928:before {
  content: "\e928";
}
.icon-unie92f:before {
  content: "\e92f";
}
.icon-unie97d:before {
  content: "\e97d";
}
.icon-unie97e:before {
  content: "\e97e";
}
.icon-unie97f:before {
  content: "\e97f";
}
.icon-unie980:before {
  content: "\e980";
}
.icon-unie981:before {
  content: "\e981";
}
.icon-unie982:before {
  content: "\e982";
}
.icon-gonew:before {
  content: "\e97b";
}
.icon-goold:before {
  content: "\e97c";
}
.icon-uniE971:before {
  content: "\e971";
}
.icon-uniE972:before {
  content: "\e972";
}
.icon-uniE973:before {
  content: "\e973";
}
.icon-uniE974:before {
  content: "\e974";
}
.icon-uniE975:before {
  content: "\e975";
}
.icon-uniE976:before {
  content: "\e976";
}
.icon-uniE977:before {
  content: "\e977";
}
.icon-uniE978:before {
  content: "\e978";
}
.icon-uniE979:before {
  content: "\e979";
}
.icon-uniE97A:before {
  content: "\e97a";
}
.icon-uniE954:before {
  content: "\e954";
}
.icon-uniE955:before {
  content: "\e955";
}
.icon-uniE956:before {
  content: "\e956";
}
.icon-uniE957:before {
  content: "\e957";
}
.icon-uniE958:before {
  content: "\e958";
}
.icon-uniE959:before {
  content: "\e959";
}
.icon-uniE95A:before {
  content: "\e95a";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-uniE95C:before {
  content: "\e95c";
}
.icon-uniE95D:before {
  content: "\e95d";
}
.icon-uniE95E:before {
  content: "\e95e";
}
.icon-uniE95F:before {
  content: "\e95f";
}
.icon-uniE960:before {
  content: "\e960";
}
.icon-uniE961:before {
  content: "\e961";
}
.icon-uniE962:before {
  content: "\e962";
}
.icon-uniE963:before {
  content: "\e963";
}
.icon-uniE964:before {
  content: "\e964";
}
.icon-uniE965:before {
  content: "\e965";
}
.icon-uniE966:before {
  content: "\e966";
}
.icon-uniE967:before {
  content: "\e967";
}
.icon-uniE968:before {
  content: "\e968";
}
.icon-uniE969:before {
  content: "\e969";
}
.icon-uniE96A:before {
  content: "\e96a";
}
.icon-uniE96B:before {
  content: "\e96b";
}
.icon-uniE96C:before {
  content: "\e96c";
}
.icon-uniE96D:before {
  content: "\e96d";
}
.icon-uniE96E:before {
  content: "\e96e";
}
.icon-effects:before {
  content: "\e96f";
}
.icon-play:before {
  content: "\e970";
}
.icon-tacked:before {
  content: "\e930";
}
.icon-animate:before {
  content: "\e936";
}
.icon-copy-animate:before {
  content: "\e937";
}
.icon-delete2:before {
  content: "\e938";
}
.icon-link2:before {
  content: "\e939";
}
.icon-music-e:before {
  content: "\e93a";
}
.icon-past-animate:before {
  content: "\e93b";
}
.icon-paste2:before {
  content: "\e93c";
}
.icon-trigger:before {
  content: "\e93d";
}
.icon-zindex-b:before {
  content: "\e93e";
}
.icon-zindex-shang:before {
  content: "\e93f";
}
.icon-zindex-t:before {
  content: "\e940";
}
.icon-zindex-xia:before {
  content: "\e941";
}
.icon-check4:before {
  content: "\e942";
}
.icon-delete:before {
  content: "\e943";
}
.icon-stop:before {
  content: "\e944";
}
.icon-cut:before {
  content: "\e945";
}
.icon-ae:before {
  content: "\e946";
}
.icon-other:before {
  content: "\e947";
}
.icon-publish:before {
  content: "\e948";
}
.icon-save:before {
  content: "\e949";
}
.icon-secovery:before {
  content: "\e94a";
}
.icon-arrow-down:before {
  content: "\e94b";
}
.icon-arrow-up:before {
  content: "\e94c";
}
.icon-collect:before {
  content: "\e94d";
}
.icon-copy2:before {
  content: "\e94e";
}
.icon-format:before {
  content: "\e94f";
}
.icon-el-c:before {
  content: "\e950";
}
.icon-el-m:before {
  content: "\e951";
}
.icon-el:before {
  content: "\e952";
}
.icon-ps:before {
  content: "\e953";
}
.icon-drag:before {
  content: "\e910";
}
.icon-game:before {
  content: "\e92a";
}
.icon-interaction:before {
  content: "\e92d";
}
.icon-logo:before {
  content: "\e934";
}
.icon-barrage:before {
  content: "\e935";
}
.icon-advance:before {
  content: "\e907";
}
.icon-back:before {
  content: "\e908";
}
.icon-bg:before {
  content: "\e909";
}
.icon-grid:before {
  content: "\e90a";
}
.icon-music2:before {
  content: "\e90b";
}
.icon-preview:before {
  content: "\e90c";
}
.icon-tpl:before {
  content: "\e90d";
}
.icon-article:before {
  content: "\e90e";
}
.icon-aside:before {
  content: "\e90f";
}
.icon-goods:before {
  content: "\e911";
}
.icon-gzh:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e913";
}
.icon-nav:before {
  content: "\e914";
}
.icon-svg:before {
  content: "\e915";
}
.icon-video:before {
  content: "\e916";
}
.icon-weizhan:before {
  content: "\e917";
}
.icon-like:before {
  content: "\e918";
}
.icon-score:before {
  content: "\e919";
}
.icon-vote:before {
  content: "\e91a";
}
.icon-checkbox:before {
  content: "\e91b";
}
.icon-formtemplate:before {
  content: "\e91c";
}
.icon-imgupload:before {
  content: "\e91d";
}
.icon-input:before {
  content: "\e91e";
}
.icon-radio:before {
  content: "\e91f";
}
.icon-select:before {
  content: "\e920";
}
.icon-submit:before {
  content: "\e921";
}
.icon-basicbtn:before {
  content: "\e922";
}
.icon-http:before {
  content: "\e923";
}
.icon-pop:before {
  content: "\e924";
}
.icon-tel:before {
  content: "\e925";
}
.icon-assembly:before {
  content: "\e926";
}
.icon-btn:before {
  content: "\e927";
}
.icon-form:before {
  content: "\e929";
}
.icon-img:before {
  content: "\e92b";
}
.icon-img-play:before {
  content: "\e92c";
}
.icon-plug-in:before {
  content: "\e92e";
}
.icon-shape:before {
  content: "\e931";
}
.icon-test:before {
  content: "\e932";
}
.icon-text:before {
  content: "\e933";
}
.icon-youduiqi:before {
  content: "\e900";
}
.icon-zuoduiqi:before {
  content: "\e901";
}
.icon-dingduiqi:before {
  content: "\e902";
}
.icon-zhongxinduiqi:before {
  content: "\e903";
}
.icon-diduiqi:before {
  content: "\e904";
}
.icon-juzhongduiqi:before {
  content: "\e905";
}
.icon-check3:before {
  content: "\f03a";
}
.icon-music:before {
  content: "\f001";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-trash:before {
  content: "\f014";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-plus:before {
  content: "\f067";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-android:before {
  content: "\f17b";
}

